

<div class="font fs-11" style="padding: 20px; background-color: rgba(255, 0, 0, 0.653);">

    <div class="d-flex justify-content-between " style="margin-bottom: 20px;">

        <i class="fas fa-exclamation-triangle" style="color: rgb(237, 236, 236); font-size: 40px;"></i>
        <span class="material-icons notranslate cursor close " style="color: white;" (click)="closeViewModal()">close</span>
      </div>

      <div class="border-top f-w"></div>

  
    <span class="d-block w-100 mt-4 tc-w text-center"  > ¿Tem certeza de que deseja realizar esta ação? </span>

    
    <div class="d-flex justify-content-center mt-20 ">
        <button mat-raised-button  class="customBtn" (click)="continue()"  > Continuar</button>
      </div>
</div>
