

<div class="d-flex justify-content-center w-100 animate__animated animate__fadeIn"   >
    
    <div class="col-sm-12 col-xs-12 col-md-10">
        
        <div class="" style="height: 100vh;">

            <div  class="d-flex justify-content-center align-items-center w-100" style="height: 100%; ">

                <div  class="justify-content-center align-items-center customShadow " style="border-radius: 10px; width: 500px;">

                    <div class="d-flex justify-content-center align-items-center w-100  " style="height: 180px; background-color: rgb(130, 193, 35); color: white; border-top-right-radius: 10px; border-top-left-radius: 10px;">

                        <div class="animate__animated animate__bounce" style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 20px;">
                            <span class="material-symbols-outlined" style="transform: scale(4.5); "> task_alt </span>
                            <span class="font-light" style="font-size: 1.8em; margin-top: 40px;">Sucesso!</span>
                        </div>
                    </div>

                    <div class="justify-content-center w-100 mt-30 mb-30  animate__animated animate__backInLeft  text-center">
                        <span class="font fs-20 d-block w-100" style="line-height: 34px;" > Pagamento bem succedido!</span>
                        <span class="font-light d-block w-100 mt-5 fs-12" style="color: rgb(179, 179, 179); font-style: italic; text-align: center;"> Obrigado!</span>
                    </div>


                </div>
            </div>
            

        </div> 
        
    </div>    
</div>    
