

<div class="table-container">

  
    <div class="customCard pd-10 table-container">
      <mat-form-field  >
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>
    
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
    
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef > Img </th>
          <td mat-cell *matCellDef="let element"> 
              <img [src]="element.filePath | imagenPath" class="img-fluid" style="border-radius: 50%; width: 70px;" *ngIf="element.filePath && element.filePath !== ''"> 
              <img src="assets/images/no-image.jpg" class="img-fluid" style="border-radius: 50%; width: 70px;" *ngIf="!element.filePath || element.filePath === ''"> 
          </td>
        </ng-container>
    
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Completo </th>
          <td mat-cell *matCellDef="let element" class="selected" (click)="openDialogUser(element)" > {{element.fullName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 60px;"> Ação </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;" > 

              <span class="material-icons active cursor" style="color: rgb(0, 195, 0);" *ngIf="element.status === 'paused'" (click)="activePauseUser(element, 'active')"   matTooltip="Ativar usuário">play_circle_outline</span>

              <span class="material-icons paused cursor" style="color: rgb(255, 191, 0);" *ngIf="element.status === 'active'" (click)="activePauseUser(element, 'paused')" matTooltip="Pausa usuário">pause_circle_outline</span>

              <span class="material-icons delete cursor" style="color: red;" (click)="openDeleteModal(element)">delete</span>
           </td>
        </ng-container>
    
        <ng-container matColumnDef="role" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 60px;"> Rol </th>

            <td mat-cell *matCellDef="let element" > 

              <div class="d-flex justify-content-between align-items-center w-100">
                <span>{{element.role}} </span>
  
                <button mat-icon-button [matMenuTriggerFor]="menu" >
                  <mat-icon>more_vert</mat-icon>
                </button>

              </div>

              <mat-menu #menu="matMenu" xPosition="before">
                <div class="d-flex align-items-center optionHover" style="margin-top: 10px; padding: 5px;" (click)="onRoleChange('user', element.iduser)">
                  <span class="material-symbols-outlined"> person </span> &nbsp;
                  <span>User</span>
                </div>
    
                <div class="d-flex align-items-center optionHover" style="margin-top: 10px; padding: 5px;" (click)="onRoleChange('admin', element.iduser)">
                  <span class="material-symbols-outlined"> manage_accounts </span> &nbsp;
                  <span>Admin</span>
                </div>
              
              </mat-menu>
       
            </td>
        </ng-container>
    
  

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <br>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>




  
    <div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
      <mat-spinner></mat-spinner>
    </div>
  </div> 
  
  
    