

.customCard{
  border-radius: 8px;
  box-shadow: 5px 10px 17px 0px rgba(53,153,153, 0.60);
  -webkit-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.60);
  -moz-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.60);
}
.customCard:hover{
  box-shadow: 5px 10px 17px 0px rgba(53,153,153, 0.75);
  -webkit-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
  -moz-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
}

.header{
  background-color: whitesmoke; 
  padding: 10px; 
  height: 100px; 
  border-bottom: 4px solid rgb(210, 210, 210);  
  margin-bottom: 30px;
  
  box-shadow: 5px 10px 17px 0px rgba(53,153,153, 0.60);
  -webkit-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.60);
  -moz-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.60); 
}



.mainIcon{
  width: 85px;
  height: 85px;
  border-radius:500px;
  cursor: pointer;
  border: 6px double rgb(188, 210, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
  -webkit-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
   -moz-box-shadow: -1px 0px 14px -1px rgba(197, 196, 196, 0.45);
}

.menuIcon{
  width: 50px;
  height: 50px;
  border-radius:50%;
  border: 2px solid rgb(217, 217, 217);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.icons{
  color: white;
}

.icon > img{
margin: 0 auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' NaN
}



  .boxSelection{
  
    padding: 10px;
    border-radius: 1px;
    background-color: white;
    border-radius: 5px;
    width: 300px;
    
    box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
    -webkit-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
    -moz-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
  
  }

  .boxSelection:hover{
    background-color: rgb(236, 244, 246);
  }


.example-spacer {
  flex: 1 1 auto;
}


.logoWidth{
  width: 350px;
}

//Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {

  .logoWidth{
      width: 250px;
  }

}

//Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 800px) {


  .logoWidth{
    width: 350px;
  }
  



  }

  
//Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1200px) {

  .logoWidth{
    width: 300px;
  }
}

//Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1400px) {

  .logoWidth{
    width: 300px;
  }
}
