
<div #display></div>

<mat-drawer-container  style="height: 100%; " >

    <mat-toolbar class="d-flex justify-content-between header" >

        <img src="assets/images/logos/congresso.png"  class="img-fluid" style="width: 65px;">
    
        <button mat-icon-button (click)="drawer.toggle()" class="burger">
            <mat-icon >menu</mat-icon>
        </button>
        
    </mat-toolbar>

    
    <mat-drawer #drawer  mode="over" position="end" style="width: 60%;">
          
      <div class=" pd-10" style="background-color: #3370f5; height: 100vh;"  >
        
        <div class="d-flex justify-content-end align-items-center w-100 " style="margin-top: 30px; " (click)="drawer.toggle()">
            <span class="material-symbols-outlined icons">close</span>
        </div>

          <div class="d-flex justify-content-start align-items-center" style="margin-top: 70px;" (click)="drawer.toggle(); goToProfile()" routerLink="/formulario">
            <span class="material-symbols-outlined icons">account_circle</span> &nbsp;&nbsp;
            <span class="font fs-11 " style="color: white;"> Meu perfil </span>
          </div>
        
          <div class="d-flex justify-content-start align-items-center" style="margin-top: 20px;" (click)="drawer.toggle(); goToPayment()">
            <span class="material-symbols-outlined icons">task_alt</span> &nbsp;&nbsp;
            <span class="font fs-11 " style="color: white;"> Inscrever-se </span>
          </div>
        
          <div class="d-flex justify-content-start align-items-center" style="margin-top: 20px;" (click)="drawer.toggle(); goToHotel()">
            <span class="material-symbols-outlined icons">luggage</span> &nbsp;&nbsp;
            <span class="font fs-11 " style="color: white;"> Alojamento </span>
          </div>
        
          <div class="d-flex justify-content-start align-items-center" style="margin-top: 70px;" (click)="drawer.toggle(); logout()" >
            <span class="material-symbols-outlined icons">logout</span> &nbsp;&nbsp;
            <span class="font fs-11 " style="color: white;"> Sair </span>
          </div>
        
         <!-- <div class="d-flex justify-content-center mt-20" (click)="drawer.toggle()">
            <span class="material-symbols-outlined icons" >logout</span>
            <span class="font fs-12 ml-15"> SALIR </span>
          </div>  -->
      </div>
        
    </mat-drawer>

        <div class="justify-content-center align-items-center w-100 pd-10">

            <div class="w-100 text-start mb-4 mt-20">
                <span class="font fs-15 selected" (click)="goToPayment()">Inscrever-se</span>
            </div>
           
            <div class="text-center" style="margin-top: 30px;">
                <img src="assets/images/logo-tomista.jpg" alt="image" width="100%"  class="customCard " style="border-radius: 7px; margin-bottom: 10px;"/>
            </div>
    </div>
    
    

      
 <!-- <div class="d-flex flex-column justify-content-center align-items-center w-100 animate__animated animate__fadeIn " >

        <div class="d-flex justify-content-center align-items-center w-100" >
            <img src="assets/images/logos/congresso-fondo.png"  class="img-fluid" style="position: sticky; width: 40%; transform: translateY(100%)">
        </div>
  </div> -->

      <!-- <router-outlet></router-outlet> -->
  
  </mat-drawer-container>
  