<h2 mat-dialog-title>Aviso de Privacidade</h2> <br>
<mat-dialog-content style="padding: 20px;">
  <h3 style="color: black;">Por favor, leia o Aviso de Privacidade </h3>
  <p > A Sociedade Clerical Virgo Flos Carmeli, que será tratada neste aviso pela sigla SCVFC, está comprometida em proteger a privacidade dos dados pessoais que coleta e trata dos titulares com quem mantém interação.</p>
  <p>Este Aviso de Privacidade descreve como coletamos, usamos, armazenamos e compartilhamos suas informações pessoais de acordo com a Lei Geral de Proteção de Dados Pessoais (Lei nº 13.709/2018 - LGPD), especialmente em conformidade com o Art. 9º da LGPD.</p>

  <h3 style="color: black;">Coleta e Uso de Dados Pessoais</h3>
  
  <p>Nós coletamos e tratamos dados pessoais com base nos seguintes fundamentos: </p>
  <p style="color: black; margin-left: 30px;"><b >Consentimento do Titular: </b> Quando você nos fornece seu consentimento explícito para o tratamento de seus dados pessoais para alcançarmos as finalidades de nossas atividades. </p>
 
  <p style="color: black; margin-left: 30px;"><b >Cumprimento de Obrigação Legal ou Regulatória:  </b> Tratamos seus dados pessoais para cumprir com obrigações legais ou regulatórias a que estamos sujeitos. </p>

  <p style="color: black; margin-left: 30px;"><b >Execução de Contrato: </b> Tratamos dados pessoais necessários para a execução de contratos de prestação de serviços ou fornecimento de produtos que você tenha celebrado conosco </p>

  <p style="color: black; margin-left: 30px;"><b >Legítimo Interesse: </b> Podemos tratar dados pessoais para atender interesses legítimos, observando a prevalência de seus direitos e liberdades fundamentais, como por exemplo: como o envio de newsletters, materiais promocionais, convite de eventos e outros. </p>

  <h3 style="color: black;">Tipos de Dados Coletados</h3>

  <p> Podemos coletar os seguintes tipos de dados pessoais:</p>

  <ul>
    <li>
        <p><b style="color: black;">Dados de Identificação: </b> Nome, CPF, RG, endereço, e-mail, telefone, data de nascimento. </p>
    </li>

    <li>
        <p><b style="color: black;">Dados Financeiros: </b> Informações bancárias, dados de cartão de crédito em formulário específico e seguro. </p>
    </li>

    <li>
        <p><b style="color: black;">Outros Dados: </b> Informações fornecidas voluntariamente por você através de nosso site em formulários de contato, pesquisas e outras interações com a empresa, que pode ocorrer por meio de algum representante em nossos eventos presenciais. </p>
    </li>

  </ul>

  <h3 style="color: black;">Compartilhamento de Dados</h3>

  <p> Seus dados pessoais podem ser compartilhados com:</p>

  <ul>
    <li>
        <p><b style="color: black;">Prestadores de Serviços:  </b> Empresas que prestam serviços de TI, marketing, cobrança, entre outros, contratadas para apoiar nossas operações, sendo previamente avaliadas para garantir a segurança dos dados compartilhados. </p>
    </li>

    <li>
        <p><b style="color: black;">Autoridades Governamentais: </b> Em cumprimento a obrigações legais ou regulatórias. </p>
    </li>

    <li>
        <p><b style="color: black;">Parceiros Comerciais: </b> Para fins de marketing e promoções conjuntas. </p>
    </li>

  </ul>

  <h3 style="color: black;">Direitos do Titular dos Dados</h3>

  <p> Você tem o direito de:</p>

  <ul>
    <li>
        <p><b style="color: black;">Acessar:  </b> Solicitar acesso aos seus dados pessoais tratados por nós. </p>
    </li>

    <li>
        <p><b style="color: black;">Corrigir: </b> Solicitar a correção de dados pessoais incompletos, inexatos ou desatualizados. </p>
    </li>

    <li>
        <p><b style="color: black;">Eliminar: </b> Solicitar a eliminação de dados pessoais, exceto nas hipóteses do art. 16 da LGPD. </p>
    </li>

    <li>
        <p><b style="color: black;">Portabilidade: </b> Solicitar a portabilidade dos dados a outro fornecedor de serviço ou produto. </p>
    </li>

    <li>
        <p><b style="color: black;">Revogar Consentimento: </b> Revogar seu consentimento a qualquer momento, quando o tratamento dos dados estiver baseado no seu consentimento. </p>
    </li>

  </ul>

  <h3 style="color: black;">Segurança dos Dados</h3>

  <p>Adotamos medidas técnicas e organizacionais para proteger seus dados pessoais contra acesso não autorizado, perda, destruição ou alteração.</p>

  <h3 style="color: black;">Contato com o Encarregado de Dados</h3>

  <p> Se você tiver dúvidas sobre este Aviso de Privacidade ou desejar exercer seus direitos, entre em contato conosco pelo e-mail dpo&#64;<a >virgofloscarmeli.com.br</a> </p>

  <h3 style="color: black;">Atualizações deste Aviso de Privacidade</h3>

  <p> Podemos atualizar este Aviso de Privacidade periodicamente. Recomendamos que você reveja este aviso regularmente para estar ciente de qualquer mudança.</p>

  <p>Última atualização: 22/05/2024.</p>



  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close style="background-color: rgb(255, 0, 0); color: white; font-family: poppins-regular;">Declino</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial style="background-color: rgb(0, 119, 255); color: white; font-family: poppins-regular">Aceito</button>
</mat-dialog-actions>
