

<div class="table-container">

  
  <div class="customCard pd-10 table-container">

    <div class="d-flex flex-wrap justify-content-between align-items-center mb-10">
        <mat-form-field  >
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar">
        </mat-form-field>

      <div class="d-flex justify-content-between align-items-center ">
        <button  mat-flat-button (click)="orderStatus('all')" style="background-color: rgb(0, 132, 255); color: white;">
          <span class="material-symbols-outlined" style="margin-top: 5px;" > autorenew </span> 
        </button> 
        <button  mat-flat-button  (click)="orderStatus('paid')" style="background-color: green; color: white; margin-left: 10px;"> Pago </button>
        <button  mat-flat-button  (click)="orderStatus('pending')" style="margin-left: 10px; background-color: brown; color: white;"> Pendente </button>
        <button  mat-flat-button  (click)="orderStatus('refund')" style="margin-left: 10px; background-color: blue; color: white;"> Reembolsado</button>
      </div>
  
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Img </th>
        <td mat-cell *matCellDef="let element"> 
            <img [src]="element.filePath | imagenPath" class="img-fluid" style="border-radius: 50%; width: 70px;" *ngIf="element.filePath && element.filePath !== ''"> 
            <img src="assets/images/no-image.jpg" class="img-fluid" style="border-radius: 50%; width: 70px;" *ngIf="!element.filePath || element.filePath === ''"> 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Completo </th>
        <td mat-cell *matCellDef="let element" class="selected" (click)="openDialogUser(element)" > {{element.fullName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="conference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Congresso </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="paymentOption">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pagamento </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentOption}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="paymentStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="getStatusStyles(element.paymentStatus)">
           <b>{{element.paymentStatus | paymentStatus}}</b> 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Ação </th>
        <td mat-cell *matCellDef="let element" > 

          <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <div class="d-flex align-items-center optionHover" style="margin-top: 10px; padding: 5px;" (click)="onActionSelected('refund', element)">
              <span class="material-icons"> money_off </span> &nbsp;
              <span  class="font">Reembolsar</span>
            </div>

            <div class="d-flex align-items-center optionHover" style="margin-top: 10px; padding: 5px;" (click)="onActionSelected('remove', element)">
              <span class="material-icons"> delete </span> &nbsp;
              <span  class="font">Eliminar</span>
            </div>

            <mat-divider></mat-divider>
            <!-- <span class="d-block w-100" style="visibility: hidden;"> espacio</span> -->
            <div class="d-flex align-items-center " style="padding: 5px;" >
              <span  class="font"><b>Alterar status</b></span>
            </div>

            <div class="d-flex align-items-center optionHover" style="margin-top: 5px; padding: 5px;" (click)="changeState('pending', element.idpayment)">
              <span>Pendente</span>
            </div>
            <div class="d-flex align-items-center optionHover" style="margin-top: 5px; padding: 5px;" (click)="changeState('paid', element.idpayment)">
              <span>Pago</span>
            </div>
            
            <div class="d-flex align-items-center optionHover" style="margin-top: 5px; padding: 5px;" (click)="changeState('refund',element.idpayment)">
              <span>Reembolsado</span>
            </div>
            
            
          
          </mat-menu>
   
        <!-- <mat-select  [(value)]="element.role" (selectionChange)="onActionSelected($event.value, element)" [ngStyle]="phone ? {'width':'120px'}:{ 'width':'110px'}" class="font fs-12">
          @for (action of actionList; track action) {
            <mat-option [value]="action"  > {{action}} </mat-option>
          }
        </mat-select>  -->
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <br>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

  <div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
    <mat-spinner></mat-spinner>
  </div>
</div> 


  