<div class="d-flex justify-content-between align-items-center pd-5 ">
  <h1 mat-dialog-title class="font" style="font-family: poppins-regular;">Programa do Congresso Tomista</h1> <br>
  <span mat-button mat-dialog-close class="cursor">
    <mat-icon>close</mat-icon>
  </span>
</div>


<mat-divider></mat-divider>

<mat-dialog-content style="padding: 20px;">
<h3>Segunda-feira 5 de agosto de 2024</h3>
<p>&nbsp;</p>
<p><strong>15h15 -</strong> <u>Abertura do Congresso</u></p>
<p><strong>Pe. Aumir Antonio Scomparin, EP</strong></p>
<p>Vig&aacute;rio Geral da Sociedade de Vida Apost&oacute;lica <em>Virgo Flos Carmeli</em>.</p>
<p><strong>15h30 -</strong> <u>Confer&ecirc;ncia:</u><strong> O Esp&iacute;rito Santo, mestre da vida interior, segundo S&atilde;o Tom&aacute;s</strong></p>
<p><strong>Dom Benedito Beni dos Santos</strong></p>
<p>Bispo Em&eacute;rito de Lorena e Supervisor Geral da forma&ccedil;&atilde;o dos Arautos do Evangelho.</p>
<p><strong>17h15 -</strong> <u>Missa Solene</u> &ndash; na Bas&iacute;lica Nossa Senhora do Ros&aacute;rio</p>
<p>&nbsp;</p>
<h3>Ter&ccedil;a-feira 6 de agosto de 2024</h3>
<p>&nbsp;</p>
<p><strong>09h10 -</strong> Ora&ccedil;&otilde;es iniciais</p>
<p><strong>09h15 -</strong> <u>Palestra:</u><strong> A atualidade do tomismo</strong></p>
<p><strong>Pe. Felipe de Azevedo Ramos, EP</strong></p>
<p>Membro da Sociedade de Vida Apost&oacute;lica <em>Virgo Flos Carmeli</em>; Professor Est&aacute;vel no Instituto Filos&oacute;fico Aristot&eacute;lico-Tomista, afiliado &agrave; Universidade Pontif&iacute;cia Salesiana, de Roma e Editor da Revista <em>Lumen Veritatis</em>.</p>
<p><strong>10h00 -</strong> <u>Palestra:</u><strong> O esquecimento do ser e a perda da universalidade do bem no mundo contempor&acirc;neo: uma an&aacute;lise tomasiana</strong></p>
<p><strong>Dr. Joel Gracioso</strong></p>
<p>Membro da Sociedade Brasileira para o Estudo da Filosofia Medieval e da <em>Soci&eacute;t&eacute; Internationale pour l&rsquo;&Eacute;tude de la Philosophie M&eacute;di&eacute;vale</em>; Professor na Academia Atl&acirc;ntico, do Instituto Superior S&atilde;o Boaventura da Diocese de Santo Amaro; e do Instituto de Teologia Maria <em>Mater Ecclesiae</em> filiado ao Ateneu Pontif&iacute;cio <em>Regina Apostolorum.</em></p>
<p><strong>10h45 -</strong> Intervalo</p>
<p><strong>11h05 -</strong> <u>Palestra:</u><strong> Os &ldquo;Praeambula fidei&rdquo; na &oacute;ptica de S&atilde;o Tom&aacute;s: concep&ccedil;&atilde;o ainda necess&aacute;ria ao pleno desabrochar da F&eacute; no mundo atual?</strong></p>
<p><strong>Pe. Marcos Faes de Ara&uacute;jo</strong></p>
<p>Membro da Sociedade de Vida Apost&oacute;lica <em>Virgo Flos Carmeli</em> e Professor Est&aacute;vel no Instituto Teol&oacute;gico S&atilde;o Tom&aacute;s de Aquino, afiliado &agrave; Universidade Pontif&iacute;cia Bolivariana, de Medell&iacute;n, Col&ocirc;mbia.</p>
<p><strong>11h50 -</strong> Almo&ccedil;o</p>
<p><strong>15h30 -</strong> <u>W</u><u>orkshops</u></p>
<p><strong>17h15 -</strong> <u>Missa</u> &ndash; na Bas&iacute;lica Nossa Senhora do Ros&aacute;rio</p>
<h3>Quarta-feira 7 de agosto de 2024</h3>
<p>&nbsp;</p>
<p><strong>09h10 -</strong> Ora&ccedil;&otilde;es iniciais</p>
<p><strong>09h15 -</strong> <u>Palestra:</u><strong> Na atual crise religiosa e moral uma consoladora e perene doutrina. A justifica&ccedil;&atilde;o do pecador &eacute; a maior obra de Deus. S. Th. I-II q. 113 art. 9</strong></p>
<p><strong>Pe. Leonardo Miguel Barraza Aranda, EP</strong></p>
<p>Membro da Sociedade de Vida Apost&oacute;lica <em>Virgo Flos Carmeli</em> e Professor Est&aacute;vel no Instituto Teol&oacute;gico S&atilde;o Tom&aacute;s de Aquino, afiliado &agrave; Universidade Pontif&iacute;cia Bolivariana, de Medell&iacute;n, Col&ocirc;mbia.</p>
<p><strong>10h00 -</strong> <u>Palestra:</u><strong> Mod&eacute;stia em S&atilde;o Tom&aacute;s: uma virtude para a atualidade?</strong></p>
<p><strong>Pe. Carlos Adriano Santos dos Reis, EP</strong></p>
<p>Membro da Sociedade de Vida Apost&oacute;lica <em>Virgo Flos Carmeli</em> e Professor Associado no Instituto Teol&oacute;gico S&atilde;o Tom&aacute;s de Aquino, afiliado &agrave; Universidade Pontif&iacute;cia Bolivariana, de Medell&iacute;n, Col&ocirc;mbia.</p>
<p><strong>10h45 -</strong> Intervalo</p>
<p><strong>11h05 -</strong> <u>Palestra:</u><strong> &Eacute; imposs&iacute;vel ver a Deus no estado de prova como Ele &eacute; contemplado no C&eacute;u pelos bem-aventurados? S&atilde;o Tom&aacute;s responde a esta quest&atilde;o da mais candente atualidade</strong></p>
<p><strong>Pe. Carlos Javier Werner Benjumea, EP</strong></p>
<p>Membro da Sociedade de Vida Apost&oacute;lica <em>Virgo Flos Carmeli</em>; Professor Est&aacute;vel no Instituto Teol&oacute;gico S&atilde;o Tom&aacute;s de Aquino, afiliado &agrave; Universidade Pontif&iacute;cia Bolivariana, de Medell&iacute;n, Col&ocirc;mbia e Diretor da Revista <em>Lumen Veritatis.</em></p>
<p><strong>11h50 -</strong> almo&ccedil;o</p>
<p><strong>15h30 -</strong> <u>W</u><u>orkshops</u></p>
<p><strong>17h15 -</strong> <u>Missa Solene</u> &ndash; na Bas&iacute;lica Nossa Senhora do Ros&aacute;rio</p>


  
</mat-dialog-content>
<mat-divider></mat-divider>

<mat-dialog-actions align="end" >
  <button mat-raised-button mat-dialog-close (click)="downloadPdf()" style="background-color: rgb(255, 0, 0); color: white; font-family: poppins-regular;">Baixar</button>

</mat-dialog-actions>
