<mat-card class="customCard bg-primary  col-sm-12 col-xs-12 col-md-4 cursor" [routerLink]="['/painel/registrados', 1]"  >
    <mat-card-content class="p-t-32 ">
      <mat-card-title class="text-white">Congreso Tomista  </mat-card-title>
      <mat-card-subtitle class="text-white">Agosto 2024</mat-card-subtitle>
      <div class="text-center">
        <img src="assets/images/logo-tomista.jpg" alt="image" width="180" class="m-t-24 minus-img"/>
      </div>
    </mat-card-content>
    <mat-card class="shadow-none m-12">
      <mat-card-content class="p-24">
        <div class="d-flex align-items-center m-b-8">
          <div class="m-r-auto">
            <h6 class="mat-subtitle-1 f-s-16 f-w-600 m-b-4">Registrados</h6>
            <span class="mat-body-1">{{payments.length}}</span>
          </div>
          <span class="bg-light-primary text-primary rounded f-w-600 p-4 f-s-12 p-x-12">
            {{registerPercent}}%
          </span>
        </div>
        <mat-progress-bar mode="determinate" [value]="registerPercent" class="rounded" ></mat-progress-bar>
        <div class="d-flex align-items-center m-b-8 m-t-16">
          <div class="m-r-auto">
            <h6 class="mat-subtitle-1 f-s-16 f-w-600 m-b-4">Pagamento</h6>
            <span class="mat-body-1"> {{paymentPaid }}   </span>
          </div>
          <span class="bg-light-accent text-accent rounded f-w-600 p-4 f-s-12 p-x-12">
            {{paidPercent}}%
          </span>
        </div>
        <mat-progress-bar mode="determinate" color="accent" [value]="paidPercent" class="rounded"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </mat-card>
