

td{
    font-family: 'poppins-regular';
    font-size: 0.85em;
}

.table-container {
    overflow-x: auto;
    width: 100%;
  }

  .mat-elevation-z8{
    overflow-x: auto;
    width: 100%;

  }

  .customCard{
    box-shadow: 5px 10px 17px 0px rgba(53,153,153, 0.60);
    -webkit-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.60);
    -moz-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.60);
  }
  .customCard:hover{
    box-shadow: 5px 10px 17px 0px rgba(53,153,153, 0.75);
    -webkit-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
    -moz-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
  }