<h2 mat-dialog-title>Aviso Legal</h2> <br>
<mat-dialog-content style="padding: 20px;">
  <h3>Por favor, leia o Aviso Legal </h3>
  <p> A Sociedade Clerical Virgo Flos Carmeli (SCVFC) declara expressamente que não se responsabiliza por quaisquer danos, perdas, ou inconvenientes que possam surgir durante a realização do Congresso.</p>

  <p>Cada participante é responsável por sua própria segurança e bem-estar. Além disso, não será de responsabilidade da SCVFC a guarda de objetos pessoais, equipamentos, ou materiais dos participantes.</p>
  <p>Eventuais perdas, furtos ou danos a pertences pessoais não serão indenizados pela SCVFC.</p>
  <p>A responsabilidade por qualquer dano causado por um participante a terceiros ou ao patrimônio do local do evento será exclusivamente do participante causador do dano.</p>
  <p>A SCVFC também não se responsabiliza por qualquer despesa adicional que o participante possa ter, como transporte, hospedagem, alimentação fora dos horários e locais especificados, entre outros.</p>
  <p>A participação no evento implica a aceitação plena de todas estas condições e a compreensão de que a SCVFC não se responsabiliza por qualquer inconveniente que esteja fora do seu controle direto.</p>
  <p> É imprescindível que os participantes sigam todas as orientações de segurança e regulamentações do evento, bem como respeitem as leis locais e as normas estabelecidas pela organização.</p>


  <p>Declaro que li e estou de acordo com com os termos e política do Congresso;</p>
  <p>declaro também a veracidade dos dados cadastrados e autorizo à SCVFC a sua utilização para a organização do evento, assim como para o recebimento de convites para outros eventos semelhantes, cursos, publicações etc.</p>

  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close style="background-color: rgb(255, 0, 0); color: white; font-family: poppins-regular;">Declino</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial style="background-color: rgb(0, 119, 255); color: white; font-family: poppins-regular">Aceito</button>
</mat-dialog-actions>
