<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        @if(options.theme === 'light') {

          <div class="d-flex justify-content-center align-items-center w-100 mt-20">
           <img src="./assets/images/logo-tomista-banner.jpg" class="align-middle m-2" alt="logo" [ngStyle]="phone ? {'display': 'block'}:{'display': 'none'}" />

          </div>
          
        } @if(options.theme === 'dark') {
        <img src="./assets/images/logo-tomista-banner.jpg" class="align-middle m-2" alt="logo" />
  
   
        }

        <div class="align-items-center justify-content-center img-height d-none d-lg-flex" >

          <img src="./assets/images/logo-tomista.jpg" alt="login" style="max-width: 500px" />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h4 class="f-w-700 f-s-24 m-0">Bem-vindo!</h4>
            <span class="f-s-14 d-block mat-body-1 m-t-8"
              >Digite seu e-mail</span>

              <div style="height: 70px;" [ngStyle]="phone ? {'display': 'block'}:{'display': 'none'}"></div>

            <form class="m-t-30 " [formGroup]="form" (ngSubmit)="submit()">
    
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput type="email" formControlName="email" style="font-family: poppins-regular !important;"  />
                @if(f['email'].touched && f['email'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['email'].errors && f['email'].errors['required']) {
                  <div class="text-error">Campo requerido.</div>
                  }
                  @if(f['email'].errors && f['email'].errors['pattern']) {
                  <div class="text-error font fs-9">Não possui um formato de e-mail válido.</div>
                  }
                 
                </mat-hint>
                }
              </mat-form-field>
            
              <button mat-flat-button type="submit" color="primary" class="w-100 mt-20" [disabled]="!form.valid" >
                Enviar
              </button>
              <!-- input -->
            </form>

         
            <span class="d-block f-w-500 d-block m-t-24"
              >Já tem uma conta??
              &nbsp;
              <a
                [routerLink]="['/autenticacao/login']"
                class="text-decoration-none text-primary f-w-500 f-s-16"
              >
                Login</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-grow " role="status" style="width: 50px; height: 50px;"  >
    <mat-spinner></mat-spinner>
  </div>
</div> 

