/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(240, 240, 240);}

@font-face {
    font-family:'poppins-regular';
    src: url(assets/font/poppins/Poppins-Regular.ttf);
    }

  @font-face {
    font-family:'poppins-medium';
    src: url(assets/font/poppins/Poppins-Medium.ttf);
    }
  
  @font-face {
    font-family:'poppins-light';
    src: url(assets/font/poppins/Poppins-Light.ttf);
    }
  
  
  
  .font{
      font-family: 'poppins-regular';
  }
  
  .font-medium{
      font-family: 'poppins-medium';
  }
  
  .font-light{
      font-family: 'poppins-light';
  }
  

  
  .mat-button-wrapper {
      white-space: nowrap;
    }
  
    .fs-10{
      font-size: 1em;
    }
  
    .fs-11{
      font-size: 1.1em;
    }
  
    .fs-12{
      font-size: 1.2em;
    }
    .fs-13{
      font-size: 1.3em;
    }
    .fs-14{
      font-size: 1.4em;
    }
    .fs-15{
      font-size: 1.5em;
    }
    .fs-20{
      font-size: 2em;
    }
  
  
    .align-items-center{
      align-items:center
    }
  
    .justify-content-center{
      justify-content: center;
    }
  
    .d-flex{
      display: flex;
    }
  
  
  
    .f-w {
      color: white;
    }
  
    .fc-red{
      color: red;
    }
    .fc-green{
      color: green;
    }
    
    
    .t-center{
      text-align: center;
    }
    
    .t-start{
      text-align: start;
    }
  
    .text{
      font-weight:bolder;
      font-family: 'poppins-regular';
    }
  
    .w-50{
      width: 50%;
    }
  
    .w-100{
      width: 100%;
    }
    
    .btnFilled{
      font-family:'poppins-regular';
      background-color: red;
      color: white;
    }
    
    .border{
      border: 1px solid;
    }
    
    .mt-5{
      margin-top: 5px;
    }
    
    .mt-10{
      margin-top: 10px;
    }
    
    .mt-15{
      margin-top: 15px;
    }
    
    .mt-20{
      margin-top: 20px;
    }
    
    .mt-25{
      margin-top: 25px;
    }
    
    .mt-30{
      margin-top: 30px;
    }
    
    .mt-40{
      margin-top: 40px;
    }
    
    .mt-50{
      margin-top: 50px;
    }
    
    .mt-60{
      margin-top: 60px;
    }
    
    .mt-90{
      margin-top: 90px;
    }
    .mt-130{
      margin-top: 130px;
    }
    
    .mb-10{
      margin-bottom: 10px;
    }
    
    .mb-20{
      margin-bottom: 20px;
    }
    
    .mb-30{
      margin-bottom: 30px;
    }
    
    .mb-40{
      margin-bottom: 40px;
    }
    
    .mb-50{
      margin-bottom: 50px;
    }
    
    .mb-60{
      margin-bottom: 60px;
    }
    
    .ml-5{
      margin-left: 5px;
    }
    
    .ml-10{
      margin-left: 10px;
    }
    
    .ml-20{
      margin-left: 20px;
    }
  
      
    .ml-30{
      margin-left: 30px;
    }
  
    .ml-40{
      margin-left: 40px;
    }
    
    .mr-5{
      margin-right: 5px;
    }
    
    .mr-10{
      margin-right: 10px;
    }
    
    .mr-20{
      margin-right: 20px;
    }
    
    .f-gray{
      color: gray;
    }
    
    
    .pd-5{
      padding: 5px;
    }
    
    .pd-10{
      padding: 10px;
    }
    
    .pd-20{
      padding: 20px;
    }
    
    .pd-30{
      padding: 30px;
    }
    
    .cursor{
      cursor: pointer;
    }
  
  
    
    .loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }
    
    .iconDeselected{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .iconSelected{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .iconSelected:hover{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      background-color: rgb(238, 238, 238, 0.6);
      border-radius: 50%;
      transform: scale(1.05);
    
      // box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.25);
      // -webkit-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.25);
      // -moz-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.25);
    }
    
    
    .error{
      font-family: 'poppins-regular';
      color: red;
      font-size: 1em;
      font-weight: 700;
    }
  
    .icon{
      width: 40px;
      height: 40px;
      border-radius: 200px;
      border: 1px solid rgb(217, 217, 217);
      display: flex;
      justify-content: center;
      align-items: center;
    
      box-shadow: 1px 1px 5px 0px rgba(133,133,133,0.29);
      -webkit-box-shadow: 1px 1px 5px 0px rgba(133,133,133,0.29);
      -moz-box-shadow: 1px 1px 5px 0px rgba(133,133,133,0.29);
    }
    
    .selection{
      border: 2px solid rgb(188, 210, 202);
      background-color: rgb(188, 210, 202);
      transition: all 0.2s ease 0s;
      margin-top: 2px;
    }
  
    .select{
      border: 1px solid rgb(201, 201, 201);
      border-radius: 3px;
      font-family: 'poppins-regular';
      font-size: 1em;
  
    }
    
    .rectangule{
      background-color: white; 
      padding: 10px; 
      border-radius: 5px;
    
      box-shadow: 0px 0px 10px 2px rgba(203, 203, 203, 0.75);
      -webkit-box-shadow: 0px 0px 10px 2px rgba(203, 203, 203, 0.75);
      -moz-box-shadow: 0px 0px 10px 2px rgba(203, 203, 203, 0.75);
    }
    
    option{
      height: 40px;
      font-family: 'poppins-regular';
      font-size: 1em;
    }
  
    .selected{
      color: rgb(0, 128, 255);
    }
  
    .selected:hover{
      text-decoration: underline;
      cursor: pointer;
      color: rgb(0, 128, 255);
    }
  
    .gray-icon {
      filter: grayscale(0.9);
      opacity: 0.6;
    }
  
    .customCard{
      box-shadow: 5px 10px 17px 0px rgba(53,153,153, 0.75);
      -webkit-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
      -moz-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
    }
  
    .customShadow{
      box-shadow: 0px 3px 22px 1px rgba(99,89,89,0.36);
      -webkit-box-shadow: 0px 3px 22px 1px rgba(99,89,89,0.36);
      -moz-box-shadow: 0px 3px 22px 1px rgba(99,89,89,0.36);
    }
    
    .none{
      border: 2px solid rgb(188, 210, 202, 0);
      background-color: rgb(188, 210, 202, 0);
      margin-top: 2px;
    
    }
    .animate__animated.animate__fadeIn{
      --animate-duration: 1s;
    }
    
    h1.font{
       font-family: "poppins-regular";
    }
  
    .custom-btn{
      background-color: #007bff; 
      color: white;
      font-size: 1.1em;
      font-family:'source_3';
    }
  
    .custom-btn:hover{
      color: white;
    }
  
    .custom-btn-red{
      background-color: rgb(225, 0, 0); 
      color: white;
      border: 1px solid white;
      font-size: 1.1em;
      font-family:'source_3';
      height: 40px;
      border-radius: 5px;
    }
  
    .custom-btn-red:hover{
  
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    }
  
    .close{
      transition: transform 0.4s;
  }
  .close:hover{
      transform: scale(1.1);
  }
  
  textarea{
    height: 120px;
  }
    
    
    .material-icons-outlined {
        color: rgba(0, 0, 0, 0.349);
        // cursor: pointer;
    
    }
    
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 48
      }
    
    
    
    
    .mat-bottom-sheet-container {
      margin: 0 !important;
      padding: 0 !important;
      border: 0 !important;
      background-color: white;
      // background-color: transparent;
      max-width: 100%;
    }
    
    .whiteframe{
      padding: 7px;
      border-radius: 10px;
      
      box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
      -webkit-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
      -moz-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
    }
    
  .message-toast {
    font-size: 1.1em;
  }
  
  .title-toast {
    font-size: 1.2em;
  }
  
input{
            
    font-family: 'poppins-regular' !important;
    height: 20px !important;
  }

  
  
  
  .invalid{
    color: red; 
    margin-top: 5px;
    width: 100%;
    margin-left: 5px;
    font-family: 'poppins-regular';
  }
  
  .tc-w{
    color: white;
  }
  
  .custom-modal {
  
    .modal-dialog {
      border-radius: 10px !important;
    }
    .modal-content {
      border-radius: 10px !important;
    }
  }  
  
  .custom-modal-delete{
  
    .modal-dialog {
    }
    .modal-content {
      background-color: rgb(255, 2, 2);
    }
  }  
  
  
    
  .custom-modalbox-transparent {
    
    max-width: 90vw!important;  /*max-width para el ancho del dialog*/
    max-height: 100%!important;
  
  
    .mat-dialog-container{
      padding: 0px!important;
      border-radius: 50% !important;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .full-screen-bottom-sheet {

    width: 2000px !important;
   
  }
  
  
  .custom-modal-code  {
  
    .modal-dialog {
      // border-radius: 15px !important;
      max-width: 100vw;
      max-height: 100vh;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-content {
      border-radius: 15px !important;
      max-width: 600px;
  
      
    }
  }  

  .custom-modal-verify  {
  
    .modal-dialog {
      max-width: 100vw;
      max-height: 100vh;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .modal-content {
      border-radius: 15px !important;
      max-width: 800px;
    }
  }  

  .custom-modal-picture  {
  
    .modal-dialog {
      padding: 10px;
    }
 
  }  
  
  .custom-modal-uploadDoc  {
  
    .modal-dialog {
      // border-radius: 15px !important;
      max-width: 100vw;
      max-height: 100vh;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-content {
      border-radius: 15px !important;
      width: 1000px;
      max-width: 97vw;
      
    }
  }  
    
  .canvasWidth{
    width: 70%;
  }
  
  
  .invalid{
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    font-size: 0.85em;
  }
  
  
  .uploadLogo{
    width: 100px; 
    height: 100px; 
    border-radius: 50%;    
    
    box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
    -webkit-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
    -moz-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
  }
  
    
  
  
    @media only screen and (max-width: 600px) {

 
      .canvasWidth{
        width: 100%;
      }
      
    }
  
      //Extra small devices (phones, 600px and down) */
      @media only screen and (min-width: 800px) {
        .btnMenuClicked, .btnMenu {
          font-size: min(1em, 6vw); /* tama침o de fuente m치ximo: 16px o 5% del ancho de la pantalla */
        }
        
        .btnMenuClicked i, .btnMenu i {
          font-size: min(1em, 6vw); /* tama침o del icono m치ximo: 20px o 6% del ancho de la pantalla */
        }
      
        .header{
          height: 60px;
      }
      
      
      
      }
    
    @media only screen and (min-width: 1000px) {
     
      .canvasWidth{
        width: 50%;
      }
      
    }
    
    