
<div class="modal-dialog">
    <webcam [trigger]="triggerObservable" 
            (imageCapture)="handleImage($event)"
            [allowCameraSwitch]="allowCameraSwitch" 
            [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [width]="imgSize"
            [height]="imgSize"
            [imageQuality]="1"
            (initError)="handleInitError($event)"
            class="webcam"  >
    </webcam>
  
    <div class="d-flex justify-content-center align-items-center w-100 mt-20">
      <button mat-raised-button color="primary" (click)="triggerSnapshot()">
        <mat-icon>photo_camera</mat-icon>
        Tirar foto
      </button>
    </div>
  

  </div>
  