
<div class="d-flex justify-content-between align-items-center w-100 customCard header"  *ngIf="!phone">

  <span class="font-light fs-15" style="line-height: 25px; "> Programa do Congresso  </span>

<span class="material-icons" [ngStyle]="phone ? {'font-size':'70px'} : {'font-size':'45px'} " style="color: white;">fact_check</span>
</div>

<div class="d-flex  align-items-center pd-10" *ngIf="!phone">

  <div style="margin-top: 20px; margin-left: 20px;">
    <button mat-icon-button style="background-color: rgb(0, 136, 255); color: white;"  class="iconShadow" (click)="openDialogProgram()">
    <mat-icon>visibility</mat-icon>
    </button>
  </div>

  <div style="margin-top: 20px; margin-left: 20px;">
    <button mat-icon-button style="background-color: green; color: white;" class="iconShadow" (click)="downloadPdf()">
    <mat-icon>download</mat-icon>
    </button>
  </div>

  <div style="margin-top: 20px; margin-left: 20px;">
    <button mat-icon-button style="background-color: rgb(155, 155, 155); color: white; " class="iconShadow" (click)="sharePdf()">
    <mat-icon>share</mat-icon>
    </button>
  </div>

  
</div>

<div class="justify-content-start align-items-end w-100 customCard font" style="border-radius: 4px;"  *ngIf="phone">

  <span class="d-block w-100 fs-12 mt-10 "> <b> Programa do Congresso</b> </span>
  <mat-divider style="margin-top: 10px;"></mat-divider>

  <div class=" pd-10 w-100">

    <div class="d-flex justify-content-between align-items-center w-100 " style="margin-top: 20px; "  (click)="openDialogProgram()">
      <span>  Ver programa </span>
      <button mat-icon-button style="background-color: rgb(0, 136, 255); color: white; transform: scale(0.80);"  class="iconShadow">
      <mat-icon>visibility</mat-icon>
      </button>
    </div>
  
    <mat-divider style="margin-top: 5px;"></mat-divider>

   <div class="d-flex justify-content-between align-items-center w-100 " (click)="downloadPdf()" >
      <span>  Baixar </span>
      <button mat-icon-button style="background-color: green; color: white; transform: scale(0.80);"  class="iconShadow" >
      <mat-icon>download</mat-icon>
      </button>
   </div>

   <mat-divider style="margin-top: 5px;"></mat-divider>

   <div class="d-flex justify-content-between align-items-center w-100 " (click)="sharePdf()" >
      <span> Compartilhar </span>
      <button mat-icon-button style="background-color: rgb(155, 155, 155); color: white; transform: scale(0.80);"  class="iconShadow">
      <mat-icon>share</mat-icon>
      </button>
   </div>

    <!-- <div style="margin-top: 20px; margin-left: 20px;">
      <button mat-icon-button style="background-color: rgb(155, 155, 155); color: white; " class="iconShadow" (click)="sharePdf()">
      <mat-icon>share</mat-icon>
      </button>
    </div>  -->
  
    
  </div>
</div>


<div class="d-flex justify-content-between align-items-center w-100 customCard header mt-50" *ngIf="!phone">

  <span class="font-light fs-15" style="line-height: 25px; "> Sugestões de alojamento </span>

<span class="material-icons" [ngStyle]="phone ? {'font-size':'80px'} : {'font-size':'50px'} " style="color: white;">luggage</span>
</div>

<div class="justify-content-start align-items-end w-100  font mt-50">
  <mat-card-title style="font-family: poppins-regular !important; ">Sugestões de alojamento</mat-card-title>
  
  <mat-card-subtitle style="margin-top: 10px;">  <mat-divider></mat-divider> </mat-card-subtitle>
</div>



<div class="row" >

    <div class="col-sm-12 col-xs-12 col-md-6 mt-40"  >
      <mat-card class="customCard font fs-10" >
        <mat-card-header>
       

          <mat-card-title style="font-family: poppins-regular !important;">Centro de Espiritualidade Flos Carmeli - SAEP</mat-card-title>
          <mat-card-subtitle>(a 35 minutos do local do Congresso)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p> Rua Renascença, 610 / Vila Renascença Mairiporã-SP / CEP: 07613.510.</p>
        </mat-card-content>

        <div class=" d-flex w-100 justify-content-center mt-30">
            <div class="border" style="width: 94%; color: rgb(0, 98, 255);"></div>
        </div>

        <mat-card-actions>
            
            <table class="col-sm-12 col-xs-12 col-md-12 mt-2" style="padding: 0px !important;">
                <tr>
                  <th class="d-flex align-items-start">E-mail</th> 
                  <td>
                    <div class="d-flex flex-wrap justify-content-start w-100 " >
                      <span style="text-align: start; word-break: break-all;"> cefloscarmeli&#64;gmail.com </span>
                    </div>  
                  </td>
                </tr>
                <tr>
                  <th class="d-flex align-items-start">Web</th> 
                  <td >
                    <div class="d-flex flex-wrap justify-content-start w-100 " >
                         <a href="https://www.centrofloscarmeli.com.br/" target="_blank" class="selected" style="word-break: break-all;"> https://www.centrofloscarmeli.com.br/</a> 

                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="d-flex align-items-start">Instagram</th> 
                  <td>
                      <span style="text-align: start; " > CEFLOSCARMELI </span>
                  </td>
                </tr>
                <tr>
                  <th class="d-flex align-items-start">Telefone</th> 
                  <td>
                      <span style="text-align: start; " >  (+55 11) 4484-4327 </span>
                  </td>
                </tr>
                <tr>
                  <th class="d-flex align-items-start">Whatsapp</th> 
                  <td>
                      <span style="text-align: start;" > (+55 11) 9-7840-4201 </span>
                  </td>
                </tr>
  
            </table>
        </mat-card-actions>
      </mat-card>
    </div>
    
    <div class="col-sm-12 col-xs-12 col-md-6 mt-40" >
      <mat-card class="customCard font fs-10" >
          <mat-card-header>
            <mat-card-title style="font-family: poppins-regular !important;">Hotel Graal Inn Mairiporã</mat-card-title>
            <mat-card-subtitle>(a 35 minutos do local do Congresso)</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p> Rodovia Fernão Dias / Via de Acesso Norte Km 62 Mairiporã-SP / 07600-000.</p>
          </mat-card-content>
  
          <div class=" d-flex w-100 justify-content-center mt-30">
              <div class="border" style="width: 94%; color: rgb(0, 98, 255);"></div>
          </div>
  
          <mat-card-actions>
              
              <table class="col-sm-12 col-xs-12 col-md-12 mt-2 " style="padding: 0px !important;">
                  <tr>
                    <th class="d-flex align-items-start">E-mail</th> 
                    <td>
                      <div class="d-flex flex-wrap justify-content-start w-100" >
                          <span style="word-break: break-all;"> reservas.mairipora&#64;graalinnhoteis.com.br</span> 
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="d-flex align-items-start">Web</th> 
                    <td >
                      <div class="d-flex flex-wrap justify-content-start w-100" >
                            <a href="https://www.graalinnhoteis.com.br/hoteis/hotel-graal-inn-mairipora" target="_blank" class="selected" style="word-break: break-all;"> https://www.graalinnhoteis.com.br/hoteis/hotel-graal-inn-mairipora</a> 
                      </div>
                    </td>
                  </tr>
              
                  <tr>
                    <th class="d-flex align-items-start">Telefone</th> 
                    <td>
                        <span style="text-align: start;" >  (+55 11) 2858-4847 </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="d-flex align-items-start">Whatsapp</th> 
                    <td>
                      <div class="d-flex flex-wrap justify-content-start w-100" >
                        <span style="text-align: start; " > : (+55 11) 9-4766-0013 </span>
                      </div>  
                    </td>
                  </tr>
    
              </table>
          </mat-card-actions>
      </mat-card>
     </div>
 
</div>

<div class="row" >
  <div class="col-sm-12 col-xs-12 col-md-6 mt-40" >
    <mat-card class="customCard font fs-10" >
        <mat-card-header>
          <mat-card-title style="font-family: poppins-regular !important;">Pousada Cantareira</mat-card-title>
          <mat-card-subtitle>(a 20 minutos do local do Congresso)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p> Avenida dos Pinheiros, 1 / Serra da Cantareira Mairiporã-SP / 07600-000.</p>
        </mat-card-content>

        <div class=" d-flex w-100 justify-content-center mt-30">
            <div class="border" style="width: 94%; color: rgb(0, 98, 255);"></div>
        </div>

        <mat-card-actions>
            
            <table class="col-sm-12 col-xs-12 col-md-12 mt-2" style="padding: 0px !important;" >
          
                <tr>
                  <th class="d-flex align-items-start">Web</th> 
                  <td>
                    <div class="d-flex flex-wrap justify-content-start w-100" >
                        <a href="https://www.instagram.com/pousada.cantareira" target="_blank" class="selected" style="word-break: break-all;"> https://www.instagram.com/pousada.cantareira</a> 
                   </div>
                  </td>
                </tr>
                <tr>
                  <th class="d-flex align-items-start">Instagram</th> 
                  <td>
                      <span style="text-align: start; margin-left: 10px;" > Pousada Cantareira </span>
                  </td>
                </tr>
                <tr>
                  <th class="d-flex align-items-start">Telefone</th> 
                  <td>
                      <span style="text-align: start; margin-left: 10px;" >  (+55 11) 4485-2270 </span>
                  </td>
                </tr>
                <tr>
                  <th class="d-flex align-items-start">Whatsapp</th> 
                  <td>
                      <span style="text-align: start; margin-left: 10px;" > (+55 11) 9-3322-6560 </span>
                  </td>
                </tr>
         
            </table>
        </mat-card-actions>
    </mat-card>
  </div>

   <div class="col-sm-12 col-xs-12 col-md-6 mt-40"  >
      <mat-card class="customCard font fs-10" >
            <mat-card-header>
              <mat-card-title style="font-family: poppins-regular !important;">Brasília Santana Gold Flat</mat-card-title>
              <mat-card-subtitle>(a 30 minutos do local do Congresso)</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Rua Olavo Egídio, 170 / Santana São Paulo-SP / 02037-000. </p>
            </mat-card-content>

            <div class=" d-flex w-100 justify-content-center mt-30">
                <div class="border" style="width: 94%; color: rgb(0, 98, 255);"></div>
            </div>

            <mat-card-actions>
                
                <table class="col-sm-12 col-xs-12 col-md-12 mt-2" style="padding: 0px !important;">
                    <tr>
                      <th class="d-flex align-items-start">E-mail</th> 
                      <td>
                        <div class="d-flex flex-wrap justify-content-start w-100" >
                          <span style="text-align: start; word-break: break-all;" > reserva&#64;santanagold.com.b </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th class="d-flex align-items-start">Web</th> 
                      <td>
                        <div class="d-flex flex-wrap justify-content-start w-100" >
                            <a href="http://www.santanagold.com.br/" target="_blank" class="selected" style="word-break: break-all;">http://www.santanagold.com.br/</a> 
                       </div>
                
                      </td>
                    </tr>
               
                    <tr>
                      <th class="d-flex align-items-start">Telefone</th> 
                      <td>
                          <span style="text-align: start;" > (+55 11) 2972-6311 </span>
                      </td>
                    </tr>
                    
      
                  
      
      
                 
             
                </table>
            </mat-card-actions>
      </mat-card>
   </div>

</div>


