.customCard{
    padding: 15px;
    box-shadow: 5px 10px 17px 0px rgba(203, 10, 10, 0.75);
    -webkit-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
    -moz-box-shadow: 5px 10px 17px 0px rgba(153,153,153,0.75);
}